<div class="top">
    <div class="container wrapper">
        <div class="text">
            POST YOUR JOB AD<br> AND<br> FIND A GREAT EMPLOYEE
        </div>
    </div>
</div>
<div class="container">
    <div class="info">
        <div class="headline">ABOUT US</div>
        <div class="text gray">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis magna quis enim condimentum pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="text purple">
            Duis purus quam, eleifend eu mollis id, rutrum fermentum tortor. Nulla facilisi. Duis lacinia ornare pellentesque. Integer fermentum ante id lorem semper sagittis. Suspendisse efficitur convallis orci, sit amet euismod diam facilisis at. 
        </div>
        <div class="text gray">
            Cras diam velit, dignissim eget massa in, viverra tristique ligula. Integer sodales non sapien malesuada convallis. Suspendisse finibus rutrum consectetur. Nullam facilisis gravida nibh quis porttitor. 
        </div>
        <div class="headline second">GET STARTED</div>
        <div class="buttons">
            <div class="button" [routerLink]="['/ad-list']">SEE ADS</div>
            <div class="button" [routerLink]="['/ad-form/create']">CREATE</div>
        </div>
    </div>
</div>
